/verification/*.aux
/verification/*.bbl
/verification/*.blg
/verification/*.fdb_latexmk
/verification/*.fls
/verification/*.out
/verification/*.toc
/verification/*.synctex.gz
/verification/previews/
__pycache__/
